item-emblem-list {

    ion-item {
        border-bottom: 1px solid #dedede !important;
    }

    ion-thumbnail img {
        width: 80px !important;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
    }

    .item-inner {
        border-bottom: 0px !important;
    }
    
}
