<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dictionary</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onSearchChange($event)" placeholder="Recherche" class="bar-header">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="dictionaries">
      <ion-segment-button value="partitions">
        Partitions
      </ion-segment-button>
      <ion-segment-button value="colors">
        Couleurs
      </ion-segment-button>
      <ion-segment-button value="charges">
        Charges
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="dictionaries">
    <ion-list *ngSwitchCase="'partitions'">
      <item-emblem-list *ngFor="let a of partitionDisplayedList"
        [imageUrl]="a.imageUrl" [title]="a.name" [description]="a.description">
      </item-emblem-list>
    </ion-list>

    <ion-list *ngSwitchCase="'colors'">
      <item-emblem-list *ngFor="let a of colorDisplayedList"
        [imageUrl]="a.imageUrl" [title]="a.name" [description]="a.description">
      </item-emblem-list>
    </ion-list>

    <ion-list *ngSwitchCase="'charges'">
      <item-emblem-list *ngFor="let a of chargeDisplayedList"
        [imageUrl]="a.imageUrl" [title]="a.name" [description]="a.description">
      </item-emblem-list>
    </ion-list>
  </div>
</ion-content>