page-dictionary {

}

ion-thumbnail img {
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

a {
  pointer-events: none;
  cursor: default;
  text-decoration: inherit;
  color: inherit;
}